.contact__container {
  display: grid;
  grid-template-columns: 2fr auto;
  align-items: center;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #3333;
  border-radius: 5px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact__info span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.contact__icon {
  font-size: 1.1rem;
}

.contact__button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  justify-self: end;
}

.contact__button:hover {
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .contact__info span {
    font-size: 1.1rem;
  }

  .contact__icon {
    font-size: 1.2rem;
  }
}
